.board_toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .board_toggle .board_nonvis-checkbox { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .board_switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 50px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .board_switcher:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .board_nonvis-checkbox:checked + .board_switcher {
    background-color: #2196F3;
    border-radius: 50px;
  }
  
  .board_nonvis-checkbox:focus + .board_switcher {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .board_nonvis-checkbox:checked + .board_switcher:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded board_switchers */
  .board_switcher.round {
    border-radius: 34px;
  }
  
  .board_switcher.round:before {
    border-radius: 50%;
  }