.board_select
{
    width: 272px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #DDE1EB;
    padding: 15px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    grid-area: select-1;
}
.board_select:focus
{
    box-shadow: #0C8CE9 0px 0px 5px;
    border: 1px solid #0C8CE9;
    outline: none;
}